#storytellingTemplate {
  position: relative;
  top: 0;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  z-index: 99999;
  pointer-events: none;
}

.share-buttons_wrap {
  margin: 15px auto;
}

.story-block {
  background-color: #263751;
  border-radius: 5px;
  color: #fff;
  border: 0px solid #2e1f01;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  background-color: transparent;
}

.story-block .story-block-inner {
  padding: 15px 20px 15px 30px;
}

.story-block .story-block-inner p:last-child {
  margin-bottom: 0 !important;
}

#storytellingFeatures {
  max-width: 1500px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  z-index: 100;
}

.lefty {
  width: 33vw;
  min-width: 500px;
  margin-left: 5vw;
}

.full {
  width: 90vw;
  margin: 0 auto;
}

.step {
  padding-bottom: 50vh;
  margin-bottom: 10vh;
  opacity: 0.2;
  transition: 0.5s;
}

.step.active {
  opacity: 0.9;
}

#storyHeader {
    position: sticky;
    top: 15px;
    z-index: 999999;
    pointer-events: all;
    max-width: 1500px;
    width: 95vw;
    margin: 15px auto;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    background-blend-mode: overlay;
}

#storyFooter {
  max-width: 1500px;
  width: 95vw;
  margin: 15px auto;
  padding: 15px;
  margin-bottom: 20vh;
}

#storyHeader .story-heading {
  margin: 0 auto;
}

#storyHeader .story-heading h2 {
  margin: 15px 0;
  font-size: 26px;
}

.story-year {
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  text-align: right;
  color: #503e37;
}

.story-sidebar-block {
  background-color: #fff;
  margin: 15px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.story-sidebar-block_buttons {
  margin: 15px auto;
}

.story-sidebar-block_buttons button {
  width: 100%;
  margin-bottom: 10px;
}

.story-sidebar-block .sidebar-block-half {
  margin: 20px auto;
  font-size: 16px;
}

.sidebar-block-heading {
  margin: 20px auto;
  font-size: 18px;
  border-bottom: 1px solid #d6d6d6;
}

.sidebar-block-content {
  margin: 0px auto 20px auto;
}

.story-sidebar-block .sidebar-block-half:last-child {
  border-left: 1px solid #d6d6d6;
}

.history-arrow {
  animation-duration: 3s !important;
  position: relative;
  margin-top: 40px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.history-arrow p {
  margin-bottom: 0;
  font-weight: 600;
}

.story-close-button {
  text-align: right;
  margin: 0 auto;
  padding: 0 !important;
}

.story-close-button.story-close-button-mobile {
  margin-right: 15px;
}

.length-element span {
}

.storytelling-block-heading {
  font-size: 18px;
  font-weight: 500;
}

.album-block {
  cursor: pointer;
  width: 100%;
  height: 130px;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  background-position: center;
  transition: 0.3s;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
}

.album-block:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.album-block:hover .album-block-title {
  transition: 0.3s;
  padding: 20px 0 25px 0;
}

.album-block-title {
  transition: 0.3s;
  font-size: 14px;
  border-radius: 5px 5px 0 0;
  padding: 10px 0 25px 0;
  color: #fff;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.851418) 8%,
    rgba(0, 0, 0, 0.651418) 38%,
    rgba(0, 0, 0, 0.325648) 65%,
    rgba(0, 0, 0, 0) 100%
  );
}

.story-warning-message-block {
  margin: 0 auto;
  padding: 0 !important;
  text-align: center;
}

.recomendation-railway {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: #fff;
  margin-top: 15px;
}

.recomendation-railway-inner {
  margin: 15px;
  padding: 15px 0;
}

.scroll-to-top {
  right: 5vw;
  position: absolute;
}

.audio-block audio {
  width: 100%;
  height: 35px;
  outline: none;
}

.audio-block .audio-title {
  margin-top: 10px;
  margin-bottom: 5px;
}

#storytellingTemplate.disable-pointer {
  pointer-events: none;
}

#story.hiding {
  pointer-events: none;
  opacity: 0;
  transition: 1s;
}

#story {
  transition: 1s;
}

#viewMapButton {
  pointer-events: auto !important;
  position: fixed;
  bottom: 15px;
  width: 300px;
  text-align: center;
  left: calc(50% - 150px);
  transition: 0.2s;
  z-index: 9;
}

#viewMapButton.hidden {
  pointer-events: none;
  opacity: 0;
  transition: 0.2s;
}

#viewMapButton.back-type {
  bottom: 100px;
  transition: 0.5s;
}

#scrollTop {
  pointer-events: auto;
  position: fixed;
  bottom: 15px;
  text-align: center;
  right: 15px;
  z-index: 9;
  transition: 1s;
}

#scrollTop.hidden {
  opacity: 0;
  pointer-events: none;
}

#scrollTop .btn {
}

#scrollTop img {
  width: 32px;
  height: 32px;
}

#storyFooter .logo {
  width: 100%;
  text-align: center;
}

#storyFooter .logo img {
  width: 120px;
}

.decrease {
  color: #ff0000;
}

.increase {
  color: #03e003;
}


.arrowIcon {
    width: 16px!important;
    height: 16px!important;
}

.decrease, .increase {
    margin-left: 5px;
}
