body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.noUi-marker-normal {
  width: 2px!important;
  height: 2px!important;
  background: #53b9e3!important;
}

.noUi-marker-large {
  width: 3px!important;
  height: 5px!important;
  background: #53b9e3!important;
}

.noUi-value-large {
  color: #fff!important;
  font-weight: bold;
}

.noUi-horizontal {
  height: 8px!important;
  background: #54ace3!important;
  border: 0px solid #54ace3!important;
}

.noUi-handle:before, .noUi-handle:after {
  content: ''!important;
  height: 0!important;
}

.noUi-horizontal .noUi-handle {
  width: 16px!important;
  height: 16px!important;
  right: -8px!important;
  top: -4px!important;
  border-radius: 8px;
  background: #263751!important;
  box-shadow: none!important;
  border-color: #54a9e0!important;
}

.noUi-handle:focus {
  outline: none!important;
}

.noUi-tooltip {
  background: #263751!important;
  color: #fff!important;
  font-weight: bold;
  border: 0!important;
}

.timeline-wrap {
  transition: 1s;
}

.noUi-target {
  box-shadow: none!important;
}

.MuiPaper-root {
  background-color: #263751!important;
  opacity: 0.9!important;
}

.modal-content {
  color: #fff;
}

.money-button {
  float: right;
}

.money-button .MuiIconButton-root {
  color: #fff;
}
